// - VARIABLES - //
// font
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$font-family: 'Kumbh Sans', sans-serif;
// text-color main
$very-dark-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
// background gradient color
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
// text color neutral
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
// dividers color
$light-grayish-blue: hsl(240, 5%, 91%);

// - GENERAL SETTINGS - //
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 10rem;
  width: 100vw;
  min-width: 37rem;
  min-height: 100vh;
  overflow: scroll;
  background-image: linear-gradient($soft-violet, $soft-blue);
  font: {
    size: 1.2rem;
    family: $font-family;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  margin: 2vw 5vh;
  width: 95rem;
  min-width: 30rem;
  height: 50rem;
  border-radius: 2rem;
  display: flex;
  position: relative;
  box-shadow: 0.5rem 2rem 3rem 0.5rem hsl(273, 38%, 36%);
  .illustration-box-desktop {
    position: absolute;
    width: 19%;
    left: 1%;
    top: 58%;
    transform: translate(-53%, -50%);
  }
  .illustration-woman-online-mobile {
    display: none;
  }
}

.box {
  &-1 {
    width: 42%;
    background: {
      color: #fff;
      image: url('../images/illustration-woman-online-desktop.svg'),
        url('../images/bg-pattern-desktop.svg');
      position: right 47%, right 65%;
      repeat: no-repeat, no-repeat;
      size: 46rem, 100rem;
    }
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  &-2 {
    width: 58%;
    background-color: #fff;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
}

.accordion {
  width: 95%;
  height: auto;
  font: {
    size: 1.2rem;
  }
  background-color: #fff;
  .title {
    color: $very-dark-blue;
    font: {
      size: 3.5rem;
      weight: 700;
    }
  }
  .accordion-item {
    width: 60%;
    margin: 0 auto;
    color: $very-dark-grayish-blue;
    .accordion-item-header {
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 3rem;
      padding: 1rem 0;
      cursor: pointer;
      color: $dark-grayish-blue;
      border-bottom: 1px solid $light-grayish-blue;
      position: relative;
      &::after {
        content: url('../images/icon-arrow-down.svg');
        right: 1rem;
        position: absolute;
        transition: transform 0.2s ease-in-out;
      }
      &:hover {
        color: $soft-red;
        transition: color 0.3s ease-in-out;
      }
    }

    .accordion-item-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      .accordion-item-body-content {
        padding-top: 0.5rem;
        font-size: 1.2rem;
        line-height: 2rem;
        color: $dark-grayish-blue;
      }
    }
  }

  .accordion-item-header.active {
    color: $very-dark-blue;
    transition: color 0.3s;
    &::after {
      font-size: 2rem;
      position: absolute;
      right: 1rem;
      transform: rotate(180deg);
    }
  }

  .title {
    font-size: 3rem;
    color: $very-dark-blue;
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 1040px) {
  .container {
    width: 75rem;
    height: 40rem;
    .illustration-box-desktop {
      width: 20%;
      left: 1%;
      top: 56%;
    }
  }
  .box {
    &-1 {
      background: {
        position: right 50%, right 65%;
        size: 36rem, 75rem;
      }
    }
  }
  .accordion {
    .accordion-item {
      width: 70%;
      .accordion-item-header {
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 0.7rem 0;
      }
      .accordion-item-body {
        .accordion-item-body-content {
          font-size: 1.1rem;
          line-height: 1.8rem;
        }
      }
    }
    .title {
      font-size: 2.5rem;
      margin-top: 6.5rem;
    }
  }
}

@media (max-width: 840px) {
  body {
    overflow-y: scroll;
  }
  .container {
    width: 60rem;
    height: 33rem;
    .illustration-box-desktop {
      width: 18%;
      left: 1%;
      top: 62%;
    }
  }
  .box {
    &-1 {
      width: 46%;
      background: {
        position: right 62%, right 58%;
        size: 31rem, 70rem;
      }
    }
  }
  .accordion {
    .accordion-item {
      width: 85%;
      .accordion-item-header {
        font-size: 1.1rem;
        line-height: 1.8rem;
        padding: 0.6rem 0;
      }
      .accordion-item-body {
        .accordion-item-body-content {
          font-size: 1rem;
          line-height: 1.7rem;
        }
      }
    }
    .title {
      margin-top: 5rem;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 655px) {
  .container {
    margin-top: 10rem;
    flex-direction: column;
    width: 33rem;
    height: auto;
    .illustration-box-desktop {
      display: none;
    }
    .illustration-woman-online-mobile {
      display: block;
      width: 30rem;
      z-index: 1;
      position: absolute;
      top: -23%;
      left: 0%;
    }
  }
  .box {
    width: 100%;
    &-1 {
      height: 15rem;
      border-bottom-left-radius: 0;
      border-top-right-radius: 2rem;
      background: {
        image: url('../images/bg-pattern-mobile.svg');
        position: 50% top;
        repeat: no-repeat;
        size: 27rem;
      }
    }
    &-2 {
      height: 36rem;
      border-top-right-radius: 0;
      border-bottom-left-radius: 2rem;
    }
  }
  .accordion {
    width: 90%;
    margin: 0 auto;
    .title {
      font-size: 3rem;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
    .accordion-item {
      width: 90%;
      .accordion-item-header {
        font-size: 1.3rem;
        line-height: 2.5rem;
        font-weight: 500;
        padding: 0.7rem 0;
      }
      .accordion-item-header.active {
        font-weight: 700;
      }
      .accordion-item-body {
        .accordion-item-body-content {
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
    }
  }
}
